
/* -------------------------Silder---------------------------------------------- */
.item-slider{
    position: relative;
}
.btn-view-slider{
    position: absolute;
    top: 270px;
    left: 180px;
}
.title-siler{
    position: absolute;
    top: 340px;
    left: 180px;
    color: #fff;
}
